extend layout/layout.pug
include mixins/category_tables.pug

block content
    section.section
        .container
            .content
                //- Table Of Contents
                .buttons
                    each category in mapping.Tools
                        - name_hyphen = category.toLowerCase().replace(/\s/g, '-').replace(/,/g, '')
                        a(href=`#title-tools-${name_hyphen}`).button.is-primary.is-outlined= category

                h2.title.is-2#title-tools Tools
            
                p Note: Paid softwares may exist in a free limited version or a demo version

                each category in mapping.Tools
                    +category_tools(category)

block hero-foot
    .hero-foot
        nav.tabs.is-boxed.is-fullwidth
            .container
                ul
                    li
                        a(href='index.html') Overview
                    li.is-active
                        a(href='tools.html') Tools
                    li
                        a(href='resources.html') Resources
                    li
                        a(href='ctf_platforms.html') CTF platforms
                    li
                        a(href='operating_systems.html') Operating Systems

block optional-script-top
    //- TableFilter lib
    script(src='js/vendor/tablefilter/tablefilter.js')
    //- TableFilter base config for all tables
    script(src='js/tablefilter/base_config.js')
block optional-script-bottom
    //- SweetAlert2 lib
    script(src='js/vendor/sweetalert2/sweetalert2.all.min.js')
    //- SweetAlert2 script
    script(src='js/sweetalert2.js')
    //- Apply font-mfizz class to elements when available (need to be loaded after the content)
    script(src='js/auto-font-mfizz.js')
